<% provide(:title, "About") %>

<h2 class="red-header">Hacker Academy</h2>

<p>
  Hacker Academy (HA) is a student-run club at the University of Toronto. We strive to provide an environment in which students can develop and engage their interests in technological developments, programming, and the role of technology, particularly software, in our lives and society at large. We live by the hacker culture, which is all about promoting and practicing cleverness and creativity, having an inquisitive attitude, sharing knowledge, and hands-on learning. 
</p>

<p class="quotation">
  “A hacker is someone who enjoys creatively overcoming intellectual challenges in technology.”
</p>

<p class="quotation">
  “To hackers, hacking is a hobby, a form of exploration – but it also entails some form of excellence, for example exploring the limits of what is possible – thereby doing something exciting and meaningful.”
</p>

<h2 class="red-header">Events</h2>

<h3>
  NETtalks - News, Engineering, Technology
</h3>
<p>
  NETtalks are weekly presentations on any topic relevant to HA. We showcase industry trends, cool projects, and other interesting topics to engage and inspire students. Previous topics have included Machine Learning and Data Mining, Terminal Usage, Computer Cooling, Overclocking, Version Control, iOS Development, Ruby on Rails, Game Development, Agile. For a more extensive list, past topics can be found on our past website, at 
  <a href=http://www.hackeracademy.org/schedule>http://www.hackeracademy.org/schedule</a>. 
</p>
<p>
  We encourage anyone to come and do a talk, including club members, students, faculty, club alumni, and industry members, so that students may be exposed to a variety of interesting topics.  We are currently accepting sponsor talks only. For others, timeslots will become available starting Wednesday, August 26, 2015. Please see the <%= link_to "Event Schedule", events_path %></li>.
</p>

<h3> 
  Programming Competitions
</h3>
<p>
  We host programming competitions a few times per semester to promote interest in coding. Typically, they consist of general programming questions such as maze traversal, string parsing, and the like. Occasionally, they are more unique; for example, a Scalatron battle.
</p>
<h3>
  Tech Tutorials
</h3>
<p>
  As a new initiative for the 2015-2016 year, we will host hands-on tutorials on topics relevant to Hacker Academy. 
</p>
<h3>
  C3 Hackathon
</h3>
<p>
  Our largest event to date has been an annual Code, Collaborate, Create (C3) Hackathon. It is a weekend-long development event, organized in the same manner as the many popular Hackathons hosted across multiple universities every year. We are currently seeking partnership for the 2015-2016 Hackathon. 
</p>

<% @users = User.all %>

<h2 class="red-header">Sponsors</h2>

<ul class="users">
  <% @users.each do |user| %>
    <% if user.sponsor %>
      <li>
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.name, user %>
        <h6>
          Sponsor
        </h6>
        </li>
    <% end %>
  <% end %>
</ul>

<h2 class="red-header">The Team</h2>

<ul class="users">
  <% @users.each do |user| %>
    <% if user.exec || user.team_member %>
      <li>
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.name, user %>
        <h6>
          <% if user.exec %>
            Hacker Academy Executive
          <% elsif user.team_member %>
            Hacker Academy Team Member
          <% end %>
        </h6>
        </li>
    <% end %>
  <% end %>
</ul>

<h2 class="red-header">Contact</h2>

<p>
  For all inquiries, please reach us at info@hackeracademy.org
</p>

