<% provide(:title, "Log in") %>
<h2>Log in</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me, {checked: "checked"} %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <h5>Not a member yet? <%= link_to "Sign up now!", signup_path %></h5>
  </div>
</div>

<!-- Space buffer for the footer -->
<% 13.times do %>
<br>
<% end %>