<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if logged_in? && current_user.site_admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  <h6>
    <% if user.exec %>
      Hacker Academy Executive
    <% elsif user.team_member %>
      Hacker Academy Team Member
    <% elsif user.sponsor %>
      Sponsor, Level <%= user.level %>    
    <% else %>
      Member, Level <%= user.level %>    
    <% end %>
  </h6>
</li>