<% provide(:title, 'Members') %>

<% if logged_in? && current_user.site_admin?%>
    <p>
      Download emails:
      <%= link_to "CSV", users_path(format: "csv") %> |
      <%= link_to "Excel", users_path(format: "xls") %>
    </p>
<% end %>

<!-- list execs -->
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<h2>
				Executive Team
			</h2>
			<ul class="execs">
				<%= render @exec_users %>
			</ul>
		</div>
		<div class="col-md-4 col-sm-4">	
			<!-- list sponsors -->
			<h2>
				Our Sponsors
			</h2>
			<ul class="sponsors">
				<%= render @sponsor_users %>
			</ul>
		</div>
		<div class="col-md-4 col-sm-4">	
			<!-- list members -->
			<h2>
				Club Members
			</h2>
			<ul class="users">
  				<%= render @users %>
			</ul>
		</div>	
	</div>

<!-- Space buffer for the footer -->
<% 25.times do %>
<br>
<% end %>