<% provide(:title, 'Sign up') %>

<h2 class="text-center">Sign up</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
 
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <input type="checkbox" value="" class="signup"> <label> I am not an engineer</label>

      <div class="row " id="engineer_field" >
        <div class="col-md-6">
          <%= f.label :discipline %>
          <%= f.select :discipline, [nil, 'ChemE', 'CivE', 'MSE', 'MIE', 'EngSci', 'ECE', 'MIN', 'T1', 'Indy'], class: "form_control" %>
        </div>
        
        <div class="col-md-6">
          <%= f.label :graduating %>
          <%= f.select :graduating, [nil,'1T7', '1T8', '1T9', '2T0'], class: "form_control"%>
        </div>
      </div>
      
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<!-- Space buffer for the footer -->
<% 9.times do %>
<br>
<% end %>