<% provide(:title, @event.name) %>

<h2 class=red-header>
  <%= @event.name %>
</h2>
<p>
  <% if logged_in? && current_user.site_admin? %>
    <%= link_to "Edit", edit_event_path %>
      | <%= link_to "Delete", @event, method: :delete,
                                    data: { confirm: "You sure?" } %>
  <% end %>
</p>

<p>
  Description: 
  <% if @event.desc %>
    <%= ((@event.desc).gsub(/\n/, '<br/>')).html_safe %>
  <% end %>
</p>

<p>
  Date: 
  <%= @event.date %>
</p>

<p>
  Start Time:
  <%= @event.start_time.in_time_zone('Eastern Time (US & Canada)').strftime("%I:%M %P %Z") %>
</p>

<p>
  Finish Time:
  <%= @event.finish_time.in_time_zone('Eastern Time (US & Canada)').strftime("%I:%M %P %Z") %>
</p>

<!-- Space buffer for the footer -->
<% 18.times do %>
<br>
<% end %>